<div style="background: rgb(244, 241, 210);">
  <img id="logomay" src="src/img/logomaybrigaderia.JPEG" class="rounded mx-auto d-block" alt="logo">
</div>


<nav class="bg-dark">
  <ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" routerLink="/Produtos">Produtos</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" routerLink="/Contato">Contato</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
