<div class="container">
  <div class="row">

    <div class="col-md-3 p-1 ">
      <div class="card">
        <img class="card-img-top" src="src/img/1.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>hjkhjk</strong>
          </h5>
          <span class="badge badge-pill">fghfgh</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
            <strong> hjkjhk : hjkhjk</strong>
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> tyrty | rty</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1 ">
      <div class="card">
        <img class="card-img-top" src="src/img/2.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>hjkhjk</strong>
          </h5>
          <span class="badge badge-pill">fghfgh</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
            <strong> hjkjhk : hjkhjk</strong>
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> tyrty | rty</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1 ">
      <div class="card">
        <img class="card-img-top" src="src/img/2.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>hjkhjk</strong>
          </h5>
          <span class="badge badge-pill">fghfgh</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
            <strong> hjkjhk : hjkhjk</strong>
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> tyrty | rty</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1 ">
      <div class="card" id="imagem">
        <img class="card-img-top " src="src/img/3.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>hjkhjk</strong>
          </h5>
          <span class="badge badge-pill">fghfgh</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
            <strong> hjkjhk : hjkhjk</strong>
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> tyrty | rty</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<h1>Historia</h1>