<div class="container">
  <div class="row">

    <div class="col-md-3 p-1 ">
      <div class="card">
        <img class="card-img-top" src="src/img/1.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>Cesta do amor</strong>
          </h5>
          <span class="badge badge-pill">Com um grande coração de chocolate</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> 25,00 R$</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1 ">
      <div class="card">
        <img class="card-img-top" src="src/img/2.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>Ovos recheados</strong>
          </h5>
          <span class="badge badge-pill">Um delicioso ovo de pascoa recheado</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> 20,00 R$ </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1 ">
      <div class="card">
        <img class="card-img-top" src="src/img/4.jpg" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>Brigadeiros</strong>
          </h5>
          <span class="badge badge-pill">Delicioso brigadeiro de leite e nescau</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> 1,00 R$ | un</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1 ">
      <div class="card" id="imagem">
        <img class="card-img-top " src="src/img/3.JPG" style="cursor:pointer;" [alt]="v.descricao" (click)="openVideo(v)"
          data-toggle="modal" data-target=".bd-example-modal-lg">
        <div class="card-body text-center">
          <h5 class="card-title h6">
            <strong>A vencedora do nosso sorteio</strong>
          </h5>
          <span class="badge badge-pill">@fulanaDeTal</span>
          <p class="card-text h6" style="color: #8c8c8c;font-size:13px;">
          </p>
          <p class="card-text h6 " style="font-size:13px;color: #8c8c8c;"> Parabéns </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
